body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;

}

header {
    display: flex;
    justify-content: space-between;    
    background-color: steelblue;
    color: black;
    padding: 24px 0;
    margin-bottom: 24px;
}

h1 {    
    font-size: 32px;
    background-color: ghostwhite;
    padding: 8px 15px 8px 0;

}
 
nav {   
    margin-right: 20px;
    padding-top: 24px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    list-style-type: none; /*set the navegation list style to none*/
}

li { 
    margin-left: 20px;
   
}

a {
    color: black;
}

#owner-pic{
    margin-bottom: 64px;
    background-image: url(../images/Bacground.jpg);
    background-size: cover;
    background-position: center;
}

#owner-pic img {
    height: auto;
    width: 20%;
}



.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 8px;
    margin: 8px;
    
    
}

.side-title {
    border-right: 4px solid darkblue;
    padding-right: 4px;
    width: auto;
    
}

.side-text{
    font-size: 24px;
    text-align: right;
    width: 100px;
    
}

p {
    text-align: justify;
    margin-left: 20px;
    font-size: 20px;
    line-height: 36px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
       
}

.flex-container :first-child{
    width: 100%;
    height: auto;
  
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
    height: 300px;
    object-fit: contain;
}
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media screen and (min-width: 2405px) {
    img {
        display: block;
        width: 1128px;
        height: 450px;
        
    }   
}

@media screen and (max-width: 1346px) {
    img {
        width: 450px;
        height: 300px;
        
    }   
}
  
@media screen and (max-width: 1046px) {
    img {
        width: 338px;
        
    }
}

@media screen and (max-width: 822px) {
    header {
        display: block;
    }
    
    h1 {
        display: flex;
        justify-content: center;  
        font-size: 24px;
 
    }

   nav{
    display: block;
    
   }
    .list {        
        justify-content: space-between;
        font-size: 16px;

    }

    #owner-pic{
        margin-bottom: 20px;
    
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        
    }
    
    .side-title {
        border-right: 0;
        border-bottom: 4px solid darkblue;
        margin-bottom: 20px;
        
    }
    
    .side-text{
        text-align: left;
        width: auto;
        font-size: 20px;
    }

    p {
              
        font-size: 18px;
        line-height: 28px;
    }
    
    .content {
        display: block;
    }

   
}




